footer {
    background-color: #272443;
}

#instagram {
    color: #d73f8e;
}

#linkedin {
    color: #0b66c3;
}

#youtube {
    color: #ff0f1c;
}

#facebook {
    color: #1877f2;
}

#twitter {
    color: #00b2ef;
}

#github {
    color: white;
}

#size {
    font-size: smaller;
}

a {
    text-decoration: none;
}