<!--Story board component main section-->
<section>
    <!--story section-->
    <div style="border: 2px red;">
        <!--loop of the story will begin here column-->
        <div style="border: 1px solid green">
            <!-- story logic -->

        </div>
        <!-- task logic column-->
        <div style="border: 1px solid yellow">
            <!-- loop of task will be done here-->
            <div>

            </div>
        </div>
        <!-- inprogress logic column-->
        <div style="border: 1px solid orange">
            <!-- loop of inprogress will be done here-->
            <div>
                
            </div>
        </div>
    </div>
</section>
