.left-section {
    margin-left: 20px;
}

.line {
    width: 200px;
    gap: 10px;
}

#icon{
    padding-top: 2px;
}

.color-selector .color-option {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.bg-color {
    background-color: #f0f0f0;
}

.bg-color-2 {
    // background-color: #aec8ff;
    background-color: #f0f0f0;
}

#cards {
    opacity: 1;
    cursor: pointer;
    flex: 1 0 300px;
    margin: 5px;
}