<div class="bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-3 mt-3">
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                        Select Employee Name
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>Mallikarjun</button>
                        <button ngbDropdownItem>Mahesh</button>
                        <button ngbDropdownItem>Udhay</button>
                        <button ngbDropdownItem>Pavan</button>
                        <button ngbDropdownItem>Mithilesh</button>
                        <button ngbDropdownItem>siva</button>
                        <button ngbDropdownItem>Rohith</button>
                        <button ngbDropdownItem>Shubham</button>
                        <button ngbDropdownItem>Ratna Sagar</button>
                        <button ngbDropdownItem>Charan</button>
                    </div>
                </div>
            </div>

            <!-- STORIES -->
            <div class="container-fluid mt-3">
                <div class="row justify-content-center">
                    <div class="col-md-3 rounded" id="cards">
                        <h4 class="ps-2 py-2 fw-bold">STORIES</h4>

                        <div class="rounded text-dark p-2 bg-accepted">
                            <p>Project: Sprint Table</p>
                            <p>Description:</p>
                            The Sprint table is a vital tool used in Agile project management to plan and track the
                            progress of work during a sprint, which is a short, fixed timeframe in which specific
                            work
                            must be completed. The table typically consists of five columns and multiple rows, with
                            each
                            column representing a different aspect of the sprint, and each row representing a
                            specific
                            task or user story to be completed within the sprint.
                        </div>
                        <div class="py-1">
                            <button type="button" class="btn btn-primary">+ Add Story</button>
                            <p class="float-end">27 Feb 2024</p>
                        </div>
                    </div>

<!-- TASKS -->
                    <div class="col-md-2">
                        <div class="rounded text-white p-2" id="cards">
                            <h4>TASKS</h4>
                            <div class="rounded mb-2 text-white p-2 bg-tasks">
                                <p>UI - FRONTEND</p>
                                <div>
                                    <button type="button" class="btn btn-light">In Progress</button>
                                    <p class="float-end my-2">UDHAY</p>
                                </div>
                            </div>
                            <div class="py-1">
                                <button type="button" class="btn btn-primary">+ Add Story</button>
                                <p class="float-end">27 Feb 2024</p>
                            </div>

                            <!-- <div class="rounded mb-2 text-white p-2 bg-tasks">
                                <p>UI - FRONTEND</p>
                                <div>
                                    <button type="button" class="btn btn-light">In Progress</button>
                                    <p class="float-end my-2">UDHAY</p>
                                </div>
                            </div>
                            <div class="rounded mb-2 text-white p-2 bg-tasks">
                                <p>UI - FRONTEND</p>
                                <div>
                                    <button type="button" class="btn btn-light">In Progress</button>
                                    <p class="float-end my-2">UDHAY</p>
                                </div>
                            </div>
                            <div class="rounded mb-2 text-white p-2 bg-tasks">
                                <p>UI - FRONTEND</p>
                                <div>
                                    <button type="button" class="btn btn-light">In Progress</button>
                                    <p class="float-end my-2">UDHAY</p>
                                </div>
                            </div>
                            <div class="rounded mb-2 text-white p-2 bg-tasks">
                                <p>UI - FRONTEND</p>
                                <div>
                                    <button type="button" class="btn btn-light">In Progress</button>
                                    <p class="float-end my-2">UDHAY</p>
                                </div>
                            </div>-->
                        </div>
                    </div>


                    <!-- IN PROGRESS -->
                    <div class="col-md-3">
                        <div class="rounded text-white p-2" id="cards">
                            <h4>IN PROGRESS</h4>
                            <div class="rounded mb-2 text-white p-2 bg-progress">
                                <p>UI - FRONTEND</p>
                                <div>
                                    <button type="button" class="btn btn-light">Move to Done</button>
                                    <p class="float-end my-2">UDHAY</p>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- DONE -->
                    <div class="col-md-2">
                        <div class="rounded text-white p-2" id="cards">
                            <h4>DONE</h4>
                            <div class="rounded mb-2 text-white p-2 bg-done">
                                <p>UI - FRONTEND</p>
                                <div>
                                    <button type="button" class="btn btn-light">Accepted</button>
                                    <p class="float-end my-2">UDHAY</p>
                                </div>
                            </div>
                            <div class="rounded mb-2 text-white p-2 bg-done">
                                <p>UI - FRONTEND</p>
                                <div>
                                    <button type="button" class="btn btn-light">Accepted</button>
                                    <p class="float-end my-2">UDHAY</p>
                                </div>
                            </div>
                            <div class="rounded mb-2 text-white p-2 bg-done">
                                <p>UI - FRONTEND</p>
                                <div>
                                    <button type="button" class="btn btn-light">Accepted</button>
                                    <p class="float-end my-2">UDHAY</p>
                                </div>
                            </div>
                            <div class="rounded mb-2 text-white p-2 bg-done">
                                <p>UI - FRONTEND</p>
                                <div>
                                    <button type="button" class="btn btn-light">Accepted</button>
                                    <p class="float-end my-2">UDHAY</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- ACCEPTED -->
                    <div class="col-md-1">
                        <div class="rounded text-white p-2" id="cards">
                            <h4>ACCEPTED</h4>
                            <div class="col">
                                <div class="rounded text-white p-2 bg-accepted">
                                    <!-- Placeholder for accepted tasks -->
                                    <p>UDHAY</p>
                                    <div>
                                        <button type="button" class="btn btn-light">OK</button>

                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="rounded text-white p-2 bg-accepted">
                                    <!-- Placeholder for accepted tasks -->
                                    <p>Rohith</p>
                                    <div>
                                        <button type="button" class="btn btn-light">OK</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>