.bg-stories {
    background-color: #beb8fb;
}

#cards {
    background-color: #e86767;
}

.bg-tasks {
    background-color: #f0b6ae;
}

.bg-progress {
    background-color: #f0ff93;
}

.bg-done {
    background-color: #a7d6ac;
}

.bg-accepted {
    background-color: #dedcfd;
}

// .bg {
//     background-color: lightcyan;
// }

// .table-bordered th,
// .table-bordered td {
//     border: 2px solid gray;
//     /* border color */
//     border-radius: 8px;
//     /* border radius */
// }