
<div class=" col-sm-12 row mt-5 mb-5 container">   
  


      <!-- code of sort by option -->
      <div class="container mt-3 ">
              <div class="col-sm-3">
                <label for="sortBy" class="form-label">Sort By:</label>
  
              <select class="form-select" id="sortBy" (change)="onSortChange($event)">
                <option value="name-asc">Name: A to Z</option>
                <option value="name-desc">Name: Z to A</option>
              </select>
            </div>
        </div>
      

        <!-- fetching cards -->

        <div class="d-flex justify-content-center mt-5 container ccd" *ngIf="products">

          <button class="prev" (click)="scrollCarousel(-1)"><i class='fas fa-caret-left' style='font-size:48px;color:rgb(0, 255, 34)'></i></button>
      
         
              <div class="carousel-wrapper cards col-sm-8">
                  <div class="col-sm-4  mx-1 cd" id="myDiv" *ngFor="let emp of products">
                      <div class="cardd d-flex justify-content-center flex-column" (click)="toggleLogin();onCardClick()">
                          <img *ngIf="emp.image" [src]="emp.image" alt="{{ emp.name }}" class="card-img-top rounded">
                          <div class="card-body mt-4 cd">
                              <h5 class="card-title mb-2 mx-auto">{{ emp.name }}</h5>
                              <p class="card-text">Associate ID: {{ emp.id }}</p>
                              <p class="card-text">DOB: {{ emp.DOB }}</p>
                              <p class="card-text mb-3">DOJ: {{ emp.DOJ }}</p>
                          </div>
                      </div>
                  </div>
              </div>
          
      
          <button class="next" (click)="scrollCarousel(1)"><i class='fas fa-caret-right' style='font-size:48px;color:rgb(0, 255, 42)'></i></button>
      
      </div>
      

    
      </div>
