.fixed-card{
    height: 400px;
    margin-bottom: 17px; 
}
.img-box{
    height: 200px;
    width: 200px;
}

.crousel-wrapper{
    width: 100vw;
    height: 40vh;
    overflow: hidden;

}
.carousel-inner{
  justify-content: center;
   align-items: center;    
}